backend/data/*.csv filter=lfs diff=lfs merge=lfs -text
fake-news-detector/backend/data/fake.csv filter=lfs diff=lfs merge=lfs -text
fake-news-detector/backend/data/true.csv filter=lfs diff=lfs merge=lfs -text
